table,
th,
td {
  border: solid black 1px;
  border-collapse: collapse;
}

tr > td:last-child {
  background-color: rgb(255, 220, 220);
}

tr > td:first-child {
  background-color: rgb(255, 220, 220);
}
tbody > tr > .andereMaand {
  background-color: grey;
}

.vrij {
  background-color: rgb(250, 120, 120);
}

tbody > tr > th {
  background-color: rgb(200, 190, 240);
  color: rgb(35, 37, 70);
}

thead > tr > th {
  background-color: rgb(35, 37, 70);
}
