body {
  margin: 0px;
  padding: 0px;
  background-color: silver;
}
#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
img {
  width: 100px;
  height: 100px;
  margin-left: 50%;
  margin-right: 50%;
  display: block;
}

header {
  width: 90%;
}

nav {
  width: 20%;
  float: left;
  background-color: white;
  height: 200px;
}

section {
  width: 80%;
  float: left;
  background-color: red;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
}

footer {
  width: 100%;
  clear: both;
  background-color: green;
  height: 120px;
  text-align: center;
}

nav a {
  text-decoration: none;
}

nav li {
  list-style: none;
}

.breedte {
  display: block;
  width: 500px;
  background-color: green;
  padding: 100px;
  margin: 20px;
}
