body {
  width: 95%;
  margin: auto;
}

body > section > header:first-child {
  background-image: url("../header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100px;
}

nav {
  background-color: gray;
}

nav > a {
  text-decoration: none;
  color: lime;
  padding-left: 5px;
}

article {
  background-color: lightgray;
  margin-top: -2.4em;
}

section > article > header > h1 {
  text-decoration: underline;
  font-size: 2em;
}
