body {
  font-family: "Helvetica", Arial;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

header > h1,
header > h2 {
  color: #edf2f4;
}

header,
footer,
.education {
  padding: 30px;
}

a {
  color: #ef233c;
}

header,
footer {
  color: #8d99ae;
  background-color: #2b2d42;
}
.education {
  background-color: #8d99ae;
}

header {
  margin-bottom: 10px;
}

footer {
  margin-top: 10px;
}
