th, td {
    border: 1px dotted black;
}
table {
    border: 1px solid black;
}

table > tbody > tr > td.andereMaand{
    background-color: grey;
}

tbody > tr > td:first-child, tbody > tr > td:last-child {
    background-color: rgb(255, 220, 220);
}

.vrijeDag{
    background-color:  rgb(250,120,120);
}

thead > tr > th {
    background-color: rgb(170,170,200);
}

thead > tr > td {
    background-color:  rgb(35,37,70);
    color: rgb(200,190,240);
}

table {
    border-collapse: collapse;
}